@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

:root {
    --primary-color: #FDFDFC;
    --secondary-color: #D6D2C9;
    --accent1-color: #CAA491;
    --accent2-color: #43BE7D;
    --accent3-color: #40271A;
    --accent1-color-transparent: rgba(255, 255, 255, 0.7);

    --heading-font: 'Rock Salt', serif;
    --text-font: 'Poppins', Arial, serif;

    --paragraph-background-color: var(--secondary-color);
    --nav-background-color: var(--primary-color);
    --nav-link-color: var(--accent2-color);
    --nav-hover-link-color: var(--accent2-color);
    --nav-hover-background-color: var(--primary-color);
}

.rock-salt-regular {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: var(--primary-color); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 840px;
    margin: 0 auto; 
    padding: 10px 20px; 
    border-radius: 8px;
}

.header-container {
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center; 
}

.logo {
    max-height: 80px;
    transition: transform 0.3s;
}

.logo:hover {
    transform: scale(1.05);
}


h1, h3, h5, h6 {
    margin: 0;
    font-family: 'Poppins', Arial, serif;
    color: #2d1d13;
}

h2 {
    font-family: 'Rock Salt', sans-serif;
    color: #43BE7D;
    text-align: center;
}

h4 {
    height: 3px;
    margin: 40px;
    background: var(--primary-color);
    color: var(--accent2-color);
}


.hero {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.hero img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

h1 {
    position: absolute; 
    align-items: center;
    top: 20%;
    left: 30%;
    font-size: 3em;
    color: var(--accent3-color);
    /* background-color: rgba(255, 255, 255, 0.7); */
    text-shadow: 3px 3px 5px rgb(255, 255, 255);
    border-bottom: 2px solid #40271A;
    /* padding-bottom: 10px; */
    /* border-radius: 8px; */
}

article {
    position: absolute;
    bottom: 1px;
    left: 65%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    width: 250px;
}

article img {
    float: left;
    margin-right: 2px;
    width: 10px;
    border-radius: 8px;
}


/* menu */

nav {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px; 
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

nav a {
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    font-size: 1.2em;
    color: var(--nav-link-color);
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s; 
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

.map iframe {
    width: 50%;
    height: 450px;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


.adventure-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.adventure-gallery figure {
    margin: 10px;
    text-align: center;
    flex: 1 1 200px;
    max-width: 250px;
}

.adventure-gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.team-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 0;
}

.profile {
    text-align: center;
    margin: 10px;
}

.profile img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}


.form-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 40%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 50px;
}

fieldset {
    border: none;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

.submit-button {
    background-color: var(--accent2-color);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: auto;
    display: block;
    margin: 0 auto;
}

.submit-button:hover {
    background-color: #28a745;
}


footer {
    background-color: var(--primary-color);
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.sociallinks {
    display: flex;
    gap: 10px;
}

.sociallinks img {
    width: 30px;
}
