@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');


:root {
  --primary-color: #fdfdfc;
  --secondary-color: #b3b8ae; 
  --text-color: #333; 
  --accent1-color: #a3937e;
  --accent2-color: #3d7e55;
  --accent3-color: #2d1d13;

  --heading-font: 'Rock Salt', serif;
  --paragraph-font: 'Arial', serif;
}


body, h1, h2, h3, p, ul, ol {
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, Verdana, sans-serif;
  color: var(--text-color);
}


h1, h2, h3 {
  font-family: Rock Salt, Verdana, sans-serif;
  color: var(--accent2-color);
  margin-bottom: 20px;
}


p {
  margin-bottom: 15px;
}


.footer-social-link a {
  text-decoration: none;
}


body {
  max-width: 1200px;
  margin: 0 auto;
}


.hero {
  position: relative;
  height: 500px; 
  overflow: hidden;
}

.hero img {
  width: 100%; 
  display: block; 
}


.hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.hero article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  max-width: 80%;
}

.hero article img {
  float: right;
  margin-left: 15px;
}

header img {
  width: 150px;
  position: center; 
  top: 20px; 
  left: 20px;
}

.footer-social-link {
  text-align: right;
  margin-top: 10px; 
}

.footer-social-link a {
  display: inline-block;
  margin-left: 10px; 
}