
/* This is a comment*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Class Selectors */

nav {
    background-color: rgb(251, 61, 96);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(251, 61, 96);
    font-size: larger;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
}

.box {

}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid rgb(251, 61, 96);
    padding: 2px;
    box-shadow: 0 0 30px grey;
    margin: 15px;
}

main p {
    background-color: rgb(209, 205, 205);
    margin: 10px;
    border: 1px solid rgb(251, 61, 96);
    padding: 3px;
    text-align: left;
}

main box{
    
}

main {
    max-width: 840px;
}


aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgb(251, 61, 96);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside h2{
    position: relative;
    top: 400px;
    left: 150px;
}

aside img {
    width: 200px;
    height: auto;
}


footer {
margin-top: 15px;
border-top: 1px solid #555555;
text-align: center;
}