nav {
    background-color: rgb(251, 61, 96);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(251, 61, 96);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(251, 61, 96);
    padding: 2px;
    box-shadow: 0 0 30px grey;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}


aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgb(251, 61, 96);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}


footer {
margin-top: 15px;
border-top: 1px solid #555555;
text-align: center;
}